
table{width:15%;border:7px;border-style: solid; border-color:lightblue;}
	
	tr{background-color:white;color:black; font-family:arial;font-size:90%;text-align:center;height:50px;vertical-align:middle;}
	
	
	th,td{padding:15px;}
	

	