h1 {
	font-family: 'Quicksand';
	color: #1f3d7a;
	text-align: center;
	}

body {
	background-color: #636363;
}

p {
	font-family: 'Quicksand';
	color: #3333ff;
	text-align: left;
}

h2 {
	font-family: 'Quicksand';
	color: #1f3d7a;
	text-align: center;
}

li {
	font-family: 'Quicksand';
	color: #3333ff;
	text-align: left;
}
img {
	height: 200px; 
	width: 200px;
	border-radius: 50%;
	margin-left:45%;
	margin-right: 50%;
}